.Projects-Page-Container {
  display: grid;
  grid-template-rows: 100px 1000px;
  grid-template-columns: minmax(150px, auto) auto minmax(150px, auto);
}
.Projects-Page-Container-Subgrid {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-template-rows: 1fr 1fr minmax(auto, 400px);
  grid-template-columns: minmax(370px, auto) minmax(370px, auto) minmax(
      370px,
      auto
    );
}
.Projects-Page-Container-SubSubgrid {
  display: grid;
  grid-template-rows: 20px minmax(200px, auto) 40px;
  grid-template-columns: 10px minmax(370px, auto) 10px;
}
.Projects-Page-Container-SubSubSubgrid {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-template-rows: minmax(200px, auto) minmax(80px, auto);
  grid-template-columns: minmax(370px, auto);

  background-color: rgb(22, 22, 22);
}

.Projects-Page-Container-Subx4grid {
  display: grid;
  grid-row-start: 2;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.Projects-Header {
  grid-column-start: 2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Projects-Gifs {
  /* max-height: 230px; */
  height: 200px;
  min-height: 150px;
  /* max-width: 430px; */
  width: 370px;
  min-width: 350px;
  cursor: pointer;
}

.Tech-Stack-Container {
  display: flex;
  max-height: 23px;
  max-width: 70px;
  border-radius: 13px;

  margin: 10px 0px 0px 2px;
  background: rgb(65, 64, 64);

  font-size: 11px;

  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.Tech-Stack-Container:hover {
  background: rgb(97, 96, 96);
}

/* bubble text under gifs, make sure there's no decoration */

.Tech-Stack-Text {
  text-decoration: none;
  color: #ffffff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* Location of bubbles in grid, extensions added for bigger text bubbles */

.Grid-Location-1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.Grid-Location-2 {
  grid-column-start: 1;
  grid-row-start: 2;
}
.Grid-Location-3 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.Grid-Location-4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.Grid-Location-4-ext {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}
.Grid-Location-5 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.Grid-Location-5-ext {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
}
.Grid-Location-6 {
  grid-column-start: 3;
  grid-row-start: 2;
}
.Grid-Location-6-ext {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
}

.extension {
  max-width: 95px;
}

/* Responsive CSS, Screen Widths */

@media screen and (min-width: 1600px) {
  .Projects-Page-Container {
    display: grid;
    grid-template-rows: 100px 1100px;
    grid-template-columns: minmax(auto, 150px) auto minmax(auto, 150px);
  }
  .Projects-Page-Container-Subgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: 1fr 1fr minmax(auto, 400px);
    grid-template-columns: minmax(370px, auto) minmax(370px, auto) minmax(
        370px,
        auto
      );
  }
  .Projects-Page-Container-SubSubgrid {
    display: grid;
    grid-template-rows: 20px minmax(200px, auto) 40px;
    grid-template-columns: 10px minmax(370px, 510px) 10px;
  }
  .Projects-Page-Container-SubSubSubgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: minmax(200px, auto) minmax(80px, auto);
    grid-template-columns: minmax(370px, 510px);

    background-color: rgb(22, 22, 22);
  }

  .Projects-Gifs {
    max-height: auto;
    max-width: 320;
    height: 310px;
    width: 100%;
    min-height: 150px;
    min-width: 350px;
  }
}

@media only screen and (max-width: 1300px) {
  .Projects-Page-Container {
    display: grid;
    grid-template-rows: 100px 1100px 400px;
    grid-template-columns: minmax(auto, 100px) auto minmax(auto, 100px);
  }
  .Projects-Page-Container-Subgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: 1fr 1fr minmax(auto, 400px);
    grid-template-columns: minmax(310px, auto) minmax(310px, auto);
  }
  .Projects-Page-Container-SubSubgrid {
    display: grid;
    grid-template-rows: 20px minmax(390px, auto) 40px;
    grid-template-columns: 10px minmax(auto, 500px) 10px;
  }
  .Projects-Page-Container-SubSubSubgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: minmax(auto, 300px) 80px;
    grid-template-columns: minmax(150px, 500px);

    background-color: rgb(22, 22, 22);
  }

  .Projects-Gifs {
    max-height: 300px;
    max-width: 500px;
    height: 83%;
    width: 100%;
    min-height: auto;
    min-width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .Projects-Page-Container {
    display: grid;
    grid-template-rows: 100px 2400px 400px;
    grid-template-columns: minmax(auto, 100px) auto minmax(auto, 100px);
  }
  .Projects-Page-Container-Subgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: 1fr 1fr minmax(auto, 400px);
    grid-template-columns: minmax(auto, 500px);
  }
  .Projects-Page-Container-SubSubgrid {
    display: grid;
    grid-column-start: 2;
    grid-template-rows: 20px minmax(auto, 400px) 40px;
    grid-template-columns: 10px minmax(auto, 500px) 10px;
  }
  .Projects-Page-Container-SubSubSubgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: minmax(auto, 300px) 80px;
    grid-template-columns: minmax(150px, 500px);

    background-color: rgb(22, 22, 22);
  }

  .Projects-Gifs {
    max-height: 400px;
    max-width: 600px;
    height: 95%;
    width: 100%;
    min-height: auto;
    min-width: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .Projects-Page-Container {
    display: grid;
    grid-template-rows: 100px 2400px 400px;
    grid-template-columns: minmax(auto, 25px) auto minmax(auto, 25px);
  }
  .Projects-Page-Container-Subgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: 1fr 1fr minmax(auto, 400px);
    grid-template-columns: minmax(auto, 460px);
  }
  .Projects-Page-Container-SubSubgrid {
    display: grid;
    grid-template-rows: 20px minmax(auto, 400px) 40px;
    grid-template-columns: 10px minmax(auto, 500px) 10px;
  }
  .Projects-Page-Container-SubSubSubgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: minmax(auto, 300px) 80px;
    grid-template-columns: minmax(150px, 500px);

    background-color: rgb(22, 22, 22);
  }

  .Projects-Gifs {
    max-height: 300px;
    max-width: 500px;
    height: 83%;
    width: 100%;
    min-height: auto;
    min-width: 150px;
  }

  .Projects-Page-Container-Subx4grid {
    display: grid;
    grid-row-start: 2;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }

  .Tech-Stack-Container {
    display: flex;
    max-height: 25px;
    max-width: 100px;
    border-radius: 13px;

    margin: 0px 0px 0px 7px;
    background: rgb(65, 64, 64);

    font-size: 10px;

    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}
