.AboutMe-Container {
  display: grid;
  grid-template-rows: 100px 1470px;
  grid-template-columns: 150px auto 150px;
}
.AboutMe-Header {
  grid-column-start: 2;
  margin-top: 20px;
}
.AboutMe-Subgrid {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-template-rows: repeat(2, 470px);
}
.AboutMe-SubSubgrid {
  display: grid;
  grid-row-start: 1;
  grid-template-columns: repeat(2, 1fr);
}

.AboutMe-PictureSubgrid {
  display: grid;
  grid-column-start: 1;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 0px minmax(auto, 446px) 0px;
  align-items: center;
  justify-content: center;
}

.PicOfMe {
  grid-column-start: 2;
  grid-row-start: 2;

  max-width: 530px;
  max-height: 383px;
}

.AboutMe-TechStackSubgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 223px) minmax(auto, 0px);
}
.AboutMe-TextSubgrid {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows: minmax(auto, 500px);
}

.TechStack {
  max-height: auto;
  max-width: 150px;
  margin-top: 30px;
}

.HTML {
  grid-column-start: 1;
  grid-row-start: 1;
}

.CSS {
  grid-column-start: 2;
  grid-row-start: 1;
}

.JS {
  grid-column-start: 3;
  grid-row-start: 1;
}

.Firebase {
  grid-column-start: 1;
  grid-row-start: 2;
}

.React {
  grid-column-start: 2;
  grid-row-start: 2;
}

.MUI {
  grid-column-start: 3;
  grid-row-start: 2;
  max-height: auto;
  max-width: 160px;
  margin-left: 15px;
}

.AboutMe-Text {
  grid-column-start: 2;
  text-align: left;
  font-size: 1.3rem;
  line-height: 4.5ch;
}

.AboutMe-Link-Text {
  text-decoration: underline;
  color: white;
}

/* Responsive CSS, Screen Widths */

@media only screen and (max-width: 1270px) {
  .AboutMe-Container {
    display: grid;
    grid-template-rows: 100px 1800px;
    grid-template-columns: 100px auto 100px;
  }
  .AboutMe-Header {
    grid-column-start: 2;
    margin-top: 20px;
  }
  .AboutMe-Subgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: 470px 1fr;
  }
  .AboutMe-SubSubgrid {
    display: grid;
    grid-row-start: 1;
    grid-template-columns: repeat(2, 1fr);
  }

  .AboutMe-PictureSubgrid {
    display: grid;
    grid-column-start: 1;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 0px minmax(auto, 446px) 0px;
    align-items: center;
    justify-content: center;
  }

  .PicOfMe {
    grid-column-start: 2;
    grid-row-start: 2;

    max-width: 530px;
    max-height: 383px;
    width: 100%;
    height: auto;
  }

  .AboutMe-TechStackSubgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 223px) minmax(auto, auto);
  }
  .AboutMe-TextSubgrid {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: minmax(auto, 500px);
  }

  .TechStack {
    max-height: auto;
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .AboutMe-Container {
    display: grid;
    grid-template-rows: 100px 1500px;
    grid-template-columns: 25px auto 25px;
  }
  .AboutMe-Header {
    grid-column-start: 2;
    margin-top: 20px;
  }
  .AboutMe-Subgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: 440px 460px 1fr;
  }
  .AboutMe-SubSubgrid {
    display: grid;
    grid-row-start: 1;
    grid-template-columns: 1fr;
  }

  .AboutMe-PictureSubgrid {
    display: grid;
    grid-column-start: 1;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 0px minmax(auto, 426px) 0px;
    align-items: center;
    justify-content: center;
  }

  .PicOfMe {
    grid-column-start: 2;
    grid-row-start: 2;

    max-width: 530px;
    max-height: 383px;
    width: 100%;
    height: auto;
    min-width: 250px;
  }
  .AboutMe-TextSubgrid {
    display: grid;
    grid-row-start: 3;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: minmax(auto, 500px);
  }

  .AboutMe-Text {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1.6rem;
  }

  .TechStack {
    max-height: auto;
    max-width: 140px;
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .AboutMe-Container {
    display: grid;
    grid-template-rows: 100px 1500px;
    grid-template-columns: 25px auto 25px;
  }
  .AboutMe-Header {
    grid-column-start: 2;
    margin-top: 20px;
  }
  .AboutMe-Subgrid {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-rows: 440px 460px 1fr;
  }
  .AboutMe-SubSubgrid {
    display: grid;
    grid-row-start: 1;
    grid-template-columns: 1fr;
  }

  .AboutMe-PictureSubgrid {
    display: grid;
    grid-column-start: 1;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 0px minmax(auto, 426px) 0px;
    align-items: center;
    justify-content: center;
  }

  .PicOfMe {
    grid-column-start: 2;
    grid-row-start: 2;

    max-width: 530px;
    max-height: 383px;
    width: 100%;
    height: auto;
    min-width: 250px;
  }

  .AboutMe-TechStackSubgrid {
    display: grid;
    grid-row-start: 2;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 130px) minmax(auto, auto);
  }
  .AboutMe-TextSubgrid {
    display: grid;
    grid-row-start: 3;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: minmax(auto, 500px);
  }

  .AboutMe-Text {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .TechStack {
    max-height: auto;
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .JS {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .MUI {
    grid-column-start: 2;
    grid-row-start: 3;

    margin-left: 20px;
  }
}

@media only screen and (max-width: 370px) {
  .AboutMe-Container {
    display: grid;
    grid-template-rows: 100px 1400px;
    grid-template-columns: 25px auto 25px;
  }

  .AboutMe-Text {
    font-size: 5vw;
  }
}
