.Homepage-Container {
  display: grid;
  grid-template-rows: 150px 600px 100px;
}

.Homepage-Container-Subgrid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 100px 300px;
}

.Grid-Item-1 {
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: end;
}

.Grid-Item-2 {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
}

.Homepage-Text {
  text-align: justify;
  margin-top: 40px;
}
.Homepage-Text-Norm {
  font-size: 35px;
}
.Homepage-Text-Highlight {
  display: inline;
  font-size: 50px;
  color: #ffe600;
}

.Homepage-Img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.Front-End-Dev-Text {
  margin-top: 30px;
}
