.Backdrop-Container {
  background-color: black;
  opacity: 0.8;

  height: 200px;
  min-height: 150px;

  width: 29%;
  min-width: 350px;

  position: absolute;
  cursor: pointer;
}

.Backdrop-SubSubgrid {
  display: grid;
  grid-row-start: 2;
  grid-template-columns: repeat(4, 92.5px);
  grid-template-rows: 75px 75px;
}

.Backdrop-Subgrid {
  display: grid;
  grid-template-rows: 50px 2fr;
}

.AppTitle {
  grid-row-start: 1;
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 23pt;
  color: #ffe600;
}

.Project-Description {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  text-align: left;
  font-size: 1.1vw;
  line-height: 3.5ch;
  margin-left: 20px;
  margin-top: 20px;
  overflow: auto;
}

.Src-Code {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 4;
}

#Github:hover {
  transition: 0.01s ease;
  max-width: 60px;
  filter: invert(90%) sepia(9%) saturate(7024%) hue-rotate(359deg)
    brightness(105%) contrast(105%);
}

#Github {
  max-width: 45px;
  max-height: auto;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(41deg)
    brightness(106%) contrast(104%);
}

.Demo {
  grid-column-start: 4;
}

#Live-Demo {
  font-family: Garamond, Arial;
  font-size: 11pt;
  font-weight: bold;

  opacity: 1;
  border: 0px;

  width: 60px;
  height: 40px;
  border-radius: 20%;

  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

#Live-Demo:hover {
  background-color: #ffe600;
  font-size: 14pt;
  width: 75px;
  height: 55px;
  transition: 0.2s ease;
}

/* Responsive CSS, Screen Widths */

@media screen and (min-width: 1600px) {
  .Backdrop-Container {
    background-color: black;
    opacity: 0.8;

    width: 27%;
    max-width: 510px;
    height: 310px;
  }

  .Backdrop-Subgrid {
    grid-template-rows: 70px 2fr;
  }

  .Backdrop-SubSubgrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .Project-Description {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

@media only screen and (max-width: 1270px) {
  .Backdrop-Container {
    background-color: black;
    opacity: 0.8;

    height: 249px;
    width: 40%;

    max-height: 249px;
    max-width: 500px;

    min-height: auto;
    min-width: 150px;
  }

  .Backdrop-Subgrid {
    grid-template-rows: 40px 1fr;
  }

  .Backdrop-SubSubgrid {
    grid-row-start: 2;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .AppTitle {
    font-size: 20pt;
  }
  #Github:hover {
    max-width: 50px;
  }

  #Github {
    max-width: 45px;
    max-height: 45px;
  }

  #Live-Demo:hover {
    width: 65px;
    height: 45px;
  }

  .Project-Description {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 768px) {
  .Backdrop-Container {
    background-color: black;
    opacity: 0.8;

    height: 290px;
    width: 68%;

    max-height: 400px;
    max-width: 480px;

    min-height: auto;
    min-width: 150px;
  }

  .Backdrop-Subgrid {
    grid-template-rows: 40px 1fr;
  }

  .Backdrop-SubSubgrid {
    grid-row-start: 2;
    grid-template-columns: repeat(2, 1fr) 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .Project-Description {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: 12pt;
    margin-top: 0px;
  }

  .AppTitle {
    font-size: 20pt;
  }

  .Project-Description {
    font-size: 13pt;
    margin-top: 0px;
    max-width: 270px;
  }

  .Src-Code {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 3;
    max-height: 45px;
    margin-top: 20%;
  }
  .Demo {
    grid-column-start: 3;
    grid-row-start: 3;
    width: 65px;
    height: 45px;
  }
}

@media only screen and (max-width: 480px) {
  .Backdrop-Container {
    background-color: black;
    opacity: 0.8;

    height: 300px;
    width: 85%;

    max-height: 249px;
    max-width: 500px;

    min-height: auto;
    min-width: 150px;
  }

  .Backdrop-Subgrid {
    grid-template-rows: 40px 1fr;
  }

  .Backdrop-SubSubgrid {
    grid-row-start: 2;
    grid-template-columns: repeat(2, 1fr) 80px;
    grid-template-rows: 1fr 1fr;
  }

  .AppTitle {
    font-size: 20pt;
  }
  #Github:hover {
    max-width: 50px;
  }

  #Github {
    max-width: 45px;
    max-height: auto;
  }

  #Live-Demo {
    width: 50px;
    height: 35px;
  }

  #Live-Demo:hover {
    width: 65px;
    height: 45px;
  }

  .Project-Description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 12pt;
    margin-top: 0px;
  }

  .Src-Code {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .Demo {
    grid-row-start: 2;
    grid-column-start: 3;
    width: 65px;
    height: 45px;
  }
}
