.NavBar-Container {
  display: grid;
  grid-template-columns: 150px 1fr 2fr 150px;
  grid-template-rows: 120px;
}

.NavBar-Items {
  font-size: 22px;
  margin: 0 35px 0 40px;
  padding-left: 30px;
}

.NavBar-Items:hover {
  cursor: pointer;
  color: #ffe600;
}

/* NavBar Items */

.Title {
  font-size: 30px;
  cursor: pointer;
}

.Title:hover {
  cursor: pointer;
}

.Title-Code {
  margin-left: 50px;
}

.NavBar-Items-All {
  margin-left: 250px;
}

.Grid-Item-NavBar-1 {
  grid-column-start: 2;
  justify-self: start;
  align-content: center;
}

.Grid-Item-NavBar-3 {
  grid-column-start: 3;
  justify-self: end;
  align-content: center;
}
