.ContactPage-Container {
  display: grid;
  grid-template-rows: 300px 650px;
  grid-template-columns: 150px auto 150px;
}

.ContactPage-Header {
  grid-column-start: 2;
  margin-top: 180px;
  margin-bottom: 20px;
}

.ContactPage-Subgrid {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-template-columns: repeat(2, 1fr);
}
/* .ContactPage-Form {
  display: grid;
  grid-column-start: 1;
  grid-template-rows: 1fr 1fr 3fr 1fr;
} */
.ContactPage-ContactInfo {
  display: grid;
  grid-column-start: 2;
  grid-template-rows: repeat(3, 1fr);
}
.ContactPage-ContactInfo-Socials {
  display: grid;
  grid-row-start: 3;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  
}

.ContactInfo-Location{
  grid-row-start: 1;
  justify-self: start;
}
.ContactInfo-Email{
  grid-row-start: 2;
  justify-self: start;
  
}

.Contact-Info-Text {
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.location{
  max-height: auto;
  max-width: 50px;
  margin-top: 20px;
  margin-left: 60px;
}

.email{
  max-height: auto;
  max-width: 50px;
  margin-top: 20px;
  margin-left: 65px;
}



.Socials{
  max-width: 65px;
  margin-left: 50px;
}

.LinkedIn{

}
.Github{
  
}
.Codepen{

}

.invert-color{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(41deg) brightness(106%) contrast(104%);
}