.App {
  text-align: center;
  background: #000000;
  /* linear-gradient(180deg, #000000 16.15%, rgba(0, 0, 0, 0.87) 100%); */
  overflow: hidden;
}

.Section-Header {
  font-size: 60px;
  justify-self: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .Section-Header {
    font-size: 50px;
  }
}
