.App {
  text-align: center;
  background: linear-gradient(180deg, #000000 16.15%, rgba(0, 0, 0, 0.87) 100%);

  font-family: Garamond, Arial;
  font-size: 25px;
  font-style: normal;
  line-height: 61px;
  text-align: left;
}
